extends layouts/main

block content
    .form-container
        form(action=routes.login, method="post")
            input(type="email", name="email", placehoder="Email")
            input(type="password", name="currentPassword", placehoder="Current Password")
            input(type="password", name="NewPassword", placehoder="New Password")
            input(type="password", name="verifyNewPassword", placehoder="Verify New Password")
            input(type="submit", value="Change Password")