extends layouts/main

block content
    .form-container
        form(action=routes.join, method="post")
            input(type="text", name="name", placeholder="Full Name")
            input(type="email", name="email", placehoder="Email")
            input(type="password", name="password", placehoder="Password")
            input(type="password", name="passwordVerify", placehoder="Verify Password")
            input(type="submit", value="Join Now!")
        include partials/socialLogin